.popup__field-one {
  margin: 0 36px 30px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .popup__field-one {
    margin-left: 22px;
    margin-right: 22px;
  }
}