.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* * {
    outline: 1px solid #f00 !important;
  }   */