.profile__change-button {
  position: relative;
  background: inherit;
  padding: 0;
  border: 0;
  width: 120px;
  height: 120px;
}

.profile__change-button::before {
  content: '';
  position: absolute;
  background-image: url(../../../images/pencil.svg);
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  inset: 0;
  visibility: hidden;
}

.profile__change-button:hover::before {
  visibility: visible;
  cursor: pointer;
}
