.card__photo {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0px 0px;
  aspect-ratio: 1/1;
  display: block;
  background-color: #000;
  object-fit: cover;
  object-position: center;
}

.card__photo:hover {
  cursor: pointer;
}