.popup__submit-button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    border: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .popup__submit-button{
        width: 238px;
        height: 46px;
    }
}

.popup__submit-button:hover {
    opacity: 0.8;
}