.popup__submit-button {
  width: 358px;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin: 48px 36px 37px 36px;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .popup__submit-button {
    width: 238px;
    height: 46px;
    margin: 45px 22px 25px 22px;
  }
}

.popup__submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}