.popup__field-two {
  margin: 0 36px 48px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 620px) {
  .popup__field-two {
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 45px;
  }
}