.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 620px) {
    .header__logo{
        max-width: 103.74px;
        height: 24.4px;
        margin-left: 27px;
    }
}