.profile__row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .profile__row-top{
        width: 282px;
        margin-bottom: 14px;
    }
}