@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/opacity/opacity.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__align/profile__align.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__row-top/profile__row-top.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/galery/galery.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__align/card__align.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_photo.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__subtitle/popup__subtitle.css);
@import url(../blocks/popup/__photo/popup__photo.css);
@import url(../blocks/overlay/overlay.css);