.profile__info {
    width: 336px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 914px) {
    .profile__info{
        width: 282px;
    }
}

@media screen and (max-width: 620px) {
    .profile__info{
        margin-top: 0;
    }
}
