.profile__name {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 914px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    padding-bottom: 14px;
  }
}

@media screen and (max-width: 620px) {
  .profile__name {
    margin-left: 46px;
    padding-bottom: 9px;
  }
}