.profile__about-me {
    max-width: 336px;
    height: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 10px;
}

@media screen and (max-width: 914px) {
    .profile__about-me{
        max-width: 282px;
        height: 14px;
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 620px) {
    .profile__about-me{
        align-self: center;
    }
}