.card__like-button {
  min-width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/like-button.svg);
  background-color: #fff;
  margin: 5px 5px 0 0;
  padding: 0;
  box-sizing: content-box;
  transition: 0.5s;
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
