.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 620px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 22px 75px 22px;
  }
}