.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 914px) {
  .header {
    max-width: 580px;
  }
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 28px auto 38px;
  }
}